.header {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    height: 35em;
    background-image: url("../images/deco2.svg"),
        linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.3) 100%,
            rgba(255, 255, 255, 0) 0%
        ),
        url("../images/main.jpg");
    background-repeat: repeat-x;
    background-position: bottom, 0, top;
    background-size: contain, cover, cover;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: movebg 30s linear infinite;
}

@keyframes movebg {
    0% {
        background-position: bottom, 0, 0 20%;
    }
    50% {
        background-position: bottom, 0, 0 0;
    }
    100% {
        background-position: bottom, 0, 0 20%;
    }
}

#googleMap{
    margin: auto;
    margin-top : 35rem;
	margin-bottom:3rem;
    border-radius:15px;
}

#selectSeatForm{
	margin: auto;
    margin-top : 35rem;
	margin-bottom:3rem;
	z-index:5;
}

h2{
	 font-family: var(--highlight-font);
	 margin-bottom: 2rem;
}



input[type="checkbox"] {
	display: none;
}

form input:disabled+label {
	cursor: default;
	background-color: var(--color-lighter);
}

form input:checked+label {
	background-color: var(--color-red);
}

form label {
	cursor: pointer;
	display: inline-block;
	width: 24px;
	height: 24px;
	border: solid 1px var(--color-lighter);
	border-radius: 4px;
}

.aleady+label {
	background-color: var(--color-main) !important;
	cursor: default;
}

#selectSeat{
	width:600px;
}


.seat-form{
	text-align:center;
}

.select-other>button{
	font-size: 1.2rem;
	background-color:var(--color-main);
	color:var(--color-lighter);
	margin-bottom: 1em;
}

.select-other{
	text-align:center;
	display:flex;
	flex-direction: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-time{
	margin : 2rem 0;
}
.book-time input{
	padding: 5px 10px;
	background-color:var(--color-lighter)
}

#selectSeat{
	text-align:center;
	margin-bottom: 2rem;
}
#btnNextBook{
	background-color:var(--color-main);
	color:var(--color-lighter);
	padding: 0.5rem 2rem;
}


#selectMenuForm{
	margin: auto;
    margin-top : 35rem;
	margin-bottom:3rem;
}
.menuForm{
		display:flex;
		
}
.orderForm{
	width: 100%;
	background-color:var(--color-lighter);
	margin: 0 3rem;
	padding: 3rem;
}
#cafeOrderList{
	min-height: 300px;
}

#menuName{
	font-family : var(--highlight-font);
	font-size : 1.2rem;
}
.selectMenu{
	margin:0;
}
#cafeOrder{
	display:flex;
	justify-content: space-between;
}

#cafeOrder input{
	width : 25%;
}

.update-menu-btn a{
	margin-right:0.5rem;
}

h3{
	font-family:var(--highlight-font);
	border-top : solid 1px var(--color-darker);
	padding-top : 2rem;
	margin-bottom : 2rem;
}

.use-mile{
	display:flex;
}
.use-mile p{
	width : 100%;
	text-align: center;
}
.use-mile p input{
	width: 100%;
	 box-sizing: border-box;
}
#useMileage{
	background-color : white;
}

.totalForm{
	padding : 1rem 0rem;
}

#totalPrice{
	font-family:var(--highlight-font);
	font-size: 1.5rem;
}

.confirm-form{
	margin: auto;
    margin-top : 35rem;
	margin-bottom:3rem;
	z-index:5;
}

.table span {
	margin-right: 1.5rem;
}

#confirmBtn{
	margin-top:3rem;
	width:100%;
	font-family:var(--highlight-font);
		background-color:var(--color-main);
	color:var(--color-lighter);
	height: 3rem;
}